<canvas id="by_countries"></canvas>

  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const by_countries = document.getElementById('by_countries');
  
    new Chart(by_countries, {
      type: 'line',
  data: {
    labels:[{% for i in countries_label %}"{{ i }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
    datasets:[
    {
        label: '{{title}}',
        data: [{% for i in countries_data %}"{{ i }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
    },
    ]
  },
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false,
    plugins: {
      title: {
        display: true,
        text: '{{title}} by country'
      }
    },
  },
    });
  </script>