<canvas id="top_genres"></canvas>

  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const top_genres = document.getElementById('top_genres');
  
    new Chart(top_genres, {
      type: 'bar',
      data: {
        labels: [{% for i in top_genres_label %}"{{ i }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
        datasets: [{
          label: 'Genres',
          data: [{% for i in top_genres_data %}"{{ i }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
          borderWidth:2,
        }]
      },
      options: {
        plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Top Genres',
        }
      },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>